body{
    
    width: 19.5cm;
    height: 23.76cm;
    margin: 0 auto;
    height:100%; 
    width:50%;
    
}

h2{
    background-color:lightgray;
    color: darkblue;
    text-align: center;
    font-size: 1em;
    
}